!Xcursor.theme:  FlatbedCursors.White.Small
Xft.antialias: 1
Xft.autohint: 0
Xft.dpi: 96
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb
URxvt.iconFile: /usr/share/icons/Faenza/apps/16x16/urxvt.png
URxvt.transparent: false
!URxvt.shading: 40  // 0 to 99 darkens, 101 to 200 lightens
URxvt.scrollBar: off
URxvt.font: xft:lemon:size=8,xft:Terminus:size=8:antialias=true:hinting=true
URxvt.boldFont: xft:lemon:size=8,xft:Terminus:size=8:antialias=true:hinting=true
urxvt.cursorBlink: true
urxvt.fading: 25
URxvt.perl-lib: /home/op/lib/perl/
URxvt.perl-ext-common:default,url-select,keyboard-select,clipboard,autocomplete-ALL-the-things,tabbedex,matcher,vtwheel,font-size
URxvt.keysym.M-u:perl:url-select:select_next
URxvt.keysym.M-slash:  perl:aAtt:complete
URxvt.keysym.M-C-slash:   perl:aAtt:word-complete
URxvt.keysym.M-question:  perl:aAtt:fuzzy-complete
URxvt.keysym.M-quotedbl:  perl:aAtt:undo
URxvt.urlLauncher:firefox
URvxt.url-select.button: 1
URxvt.underlineURLs:true
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-c:   perl:clipboard:copy
URxvt.keysym.M-v:   perl:clipboard:paste
URxvt.keysym.M-C-v: perl:clipboard:paste_escaped
URxvt.clipboard.copycmd:    xsel -ib
URxvt.clipboard.pastecmd:   xsel -ob
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1
URxvt.keysym.C-Up:     perl:font-size:increase
URxvt.keysym.C-Down:   perl:font-size:decrease
URxvt.keysym.C-S-Up:   perl:font-size:incglobal
URxvt.keysym.C-S-Down: perl:font-size:decglobal
URxvt.tabbed.tabbar-fg: 0
URxvt.tabbed.tabbar-bg: 6
URxvt.tabbed.tab-fg: 2
URxvt.tabbed.tab-bg: 8
URxvt.tabbed.autohide:  yes
URxvt.tabbed.new-button:  no
URxvt.tabbed.title: no
URxvt.urgentOnBell:     true
URxvt.geometry:         80x24
URxvt.depth:            32
URxvt.saveLines:        100000
URxvt*termName:         rxvt-unicode
!URxvt.letterSpace:      -1
*colorIT:                             #E3AB8D
*colorBD:                             #F0E5DF
*colorUL:                             #cd546c
*VT100.colorBDMode:                   true
*VT100.colorBD:                       red
*VT100.colorULMode:                   true
*VT100.colorUL:                       magenta
*VT100.veryBoldColors:                6


!special
*background: #262729
*foreground: #CECECE
*cursorColor: #a0a0a0

!black
*color0: #404040
*color8: #606060

!red
*color1: #8F0100
*color9: #C8000F

!green
*color2: #408F00
*color10: #aabb99

!yellow
*color3: #FF0000
*color11: #E04613

!blue
*color4: #188ED8
*color12: #73B6D0

!magenta
*color5: #AF80AE
*color13: #784F79

!cyan
*color6: #0098A0
*color14: #42DADD

!white
*color7: #CECECE
*color15: #FAFAFA

!Colored man pages
!URxvt.colorIT:  #9f8fbc
!URxvt.colorBD:  #9bc4bd
!URxvt.colorUL:  #b7ce42
